.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
.img{
  width: 50%;
  border: 2px white solid;
  border-radius: 1em;
  margin: auto;
}
.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.waves{
  display: flex;
  justify-content: center;
  
}
.textbox{
  padding: .5em;
  border-radius: 1em;
  margin-top: 2em;
}
.border{
  border: rebeccapurple 2px solid;
}
.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}