body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  background-image:url("https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif?cid=790b7611c6f529b6484ce479d35844b64dc51cf0db842a52&rid=giphy.gif&ct=g");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
